/*----------------------------------------------------------------------

	MASTER STYLESHEET

	Project:        Portfolio
	Version:        1.0
	Author:         Stas Negreev
	Email:			support@keenthemes.com
	Website:		
			
-----------------------------------------------------------------------*/

/*----------------------------------------------------------------------
-------------------------------RESET CSS--------------------------------
-----------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
	color: #a6a7aa;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	/*position: relative;*/
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Сетка
  ========================================
*/
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  display: block;
     margin: 0px auto;
	padding-left: 30px;
	padding-right: 30px;
	box-sizing: border-box;

/*min-width:650px;*/
max-width:960px;
  }
section .container {
	padding-top: 75px;
	padding-bottom: 75px;
	  box-sizing: border-box;
}
 .col-1-3 {
  width: 34%;
 /*min-width:310px;*/
}
.col-2-3 {
  width: 65%;
/*min-width:600px;*/
}
 .col-1-4 {
  width: 35%;

}
.col-3-4 {
  width: 64%;

}
.col-1-3,
.col-2-3, 
.col-1-4,
.col-3-4 {
	transition-property:  width;
		transition-duration: 1s;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

section:nth-child(odd) {
width:100%;	
	background-color: #f7efe2;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group::before,
.group::after {
  content: "";
  display: table;
}
.group::after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}
 /*
  ========================================
  Типографика
  ========================================
*/
p {
  font-size: 15px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.4;
  padding-bottom:20px;
  
}
.col-1-4 a{
	 font-size: 15px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.4;
  padding-bottom:20px;
	text-decoration: none;
}
h3 {
	font-weight: bold;
	font-size: 15px;
	font-family: Hind, sans-serif;
	color: #a6a7aa;
	line-height: 1.4;
	padding: 20px 0;
}
h3:first-child {
	padding: 0 0 20px 0;
}
.experience__list li{
	font-size: 15px;
	font-weight: 400;
	font-family: Hind, sans-serif;
	color: #a6a7aa;
	line-height: 1.4;
	list-style-type: circle;
	list-style-position: inside;
}
.experience{
	padding: 0 30px;
}
	




/*========================================
  Ссылки
  ========================================
*/
a:hover {
	color: rgba(107, 129,135, 1);
}

/*
  ========================================
  Основной заголовок
  ========================================
*/

.logo {
  float: left;
  
}

header {
  text-align: right;
  padding: 10px 0;
  }
 
/*
  ========================================
  Навигация
  ========================================
*/
header li{
	display: inline-block;
	padding: 25px 0 0 10px;
	}
header a {
	font-family: 'Cuprum', sans-serif;
	font-size: 22px;
	//color: rgb(128, 128, 128);
	text-decoration: none;
	padding-top: 40px;
	text-shadow: 0 0 1px rgba(0, 0, 0, .1);
}


/*  ========================================
  Главная
  ========================================
*/

.promo-block-title {

	height: 479px;
	padding: 0 0 0 0;
	background: #c7b39b url("../images/main.jpg") 50% 0% no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: center center;

	}
.promo-block-title h2{
	margin:0 0 50px 0;
	font-family: 'Hind', sans-serif;
	font-size: 24px;
	color:#FFF;
}
.promo-block-title h1{
	margin:70px 0 50px 0;
	font-family: 'Russo One', sans-serif;
	font-size: 44px;
	color:#FFF;
}
.social img{	
	
	height: 20px;
	width: 20px;
	padding:5px 0 0 5px;
	}
.social li{
	float: left;
	height: 30px;
	width: 30px;
	
	margin-right:10px;
}
.social li:hover{
	border-radius: 50%;
	transition-property: background-color;
  transition-duration: 1s;
  background-color: #fff;
}
.social {
  width: 145px;
  border-top: 2px solid #a9b2b9;
  color: #fff;
  padding: 7px 0px 0px 36px;
  text-decoration: none;
}
/*  ========================================
  Заголовки
  ========================================
*/
.col-1-3 h1{
	padding: 0 30px 0 0;
	text-align: right;
	font-family: 'Russo One', sans-serif;
	font-size: 22px;
	color:#000;
	box-sizing: border-box;
}
.col-1-3 p{
	padding: 0 30px 0 0;
	text-align: right;
	
}
/*  ========================================
  Контент
  ========================================
*/
.col-2-3 p{
	padding: 0 30px 15px 30px;
	text-align: left;

}
.col-2-3 .square{
	transition-property: padding-top, color,background-color,font-size;
	transition-duration: 0.5s;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	width: 140px;
	height: 140px;
	background-color: rgba(107, 129,135, 0.5);
	text-align: center;
	padding-top: 60px;
	font-family: 'Russo One', sans-serif;
	font-size: 18px;
	color:#fff;
		/*border: 1px solid #a9b2b9;	
	*/
}

.col-2-3 .square:nth-child(odd) {
	background-color:#fff;
	color:#000;
		}
.col-2-3 .square:hover{

	
	background-color: rgba(107, 129,135, 1);
	color:#f7efe2;
	font-size: 24px;
	padding-top: 76px;
}
	


/*  ========================================
  work
  ========================================
*/
.work-img{
	padding-left: 30px;
}
.work-img div{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	box-sizing: border-box;
	vertical-align: top;
	float:left;
	padding:0 2px 2px 0;
}
.work-img img:hover{
filter: alpha(Opacity=50);
    opacity: 0.5;

/*border: 4px solid #FFF;*/
}
.work-img__iteam {
	width: 175px;
	height: 175px;
	padding: 3px;
	position: relative;
}
.work-img__iteam img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.work-img__iteam__1 {
	width: 350px;
	height: 175px;
}



/*  ========================================
  contact
  ========================================
*/
.col-1-4 div{
	padding-bottom:30px;
}
.info h2{
	font-family: 'Cuprum', sans-serif;
	font-size: 22px;
	color: rgb(128, 128, 128);
	text-decoration: none;
	padding:0 2px 10px 30px;
}
.map__ifraime {
	width: 400px;
	height: 200px;
}

/*  ========================================
  foter
  ========================================
*/
footer {
/*position: relative;*/
	margin: 100px 0;
	
	text-align: right;
	font-family: 'Russo One', sans-serif;
	font-size: 22px;
	color:#000;
	box-sizing: border-box;
}
footer a{

	margin: 100px 0;
	
	text-align: right;
	font-family: 'Russo One', sans-serif;
	font-size: 22px;
	color:#000;
	
}
.footer h5 {
padding:25px 0 0 0;
}
.top {
	position: fixed;
	right: 30px;
	bottom:  30px;
	width: 50px;
	height: 50px;
	/*background-color: #d9b44a;
	border: 1px solid #343434;	*/
	text-decoration: none;
}	
.top a{
display: block;
padding: 11px 3px;
    font-family: 'Russo One', sans-serif;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}

@media(max-width:950px) {
	.col-1-3,
	.col-2-3, 
	.col-1-4,
	.col-3-4 {
				
		display:block;
		width: 100%;
	}
	.col-2-3 .square{
		width: 100%;
	}
	.col-1-3 p{
		padding: 10px 0 0 30px;
		text-align: left;
	}
	.col-2-3 p{

	}
	.col-1-3 h1{
		padding: 10px 0 0 30px;
		text-align: left;
	}

	.work-img__iteam {
		width: 50%;
		height: 175px;
		padding: 3px;
	}

	.info h2 {
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	.info p {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}
	.map {
		width: 100%;
	}
	.map__ifraime {
		width: 100%;
		height: 200px;
	}


}


@media(max-width:651px) {
	header li{
		text-align: center;
		width: 100%;
	}


}



